barcode==1.0.4
beautifulsoup4==4.12.3
certifi==2024.8.30
charset-normalizer==3.3.2
customtkinter==5.2.2
darkdetect==0.8.0
filelock==3.16.0
gdown==5.2.0
idna==3.10
Levenshtein==0.25.1
numpy==2.1.1
packaging==24.1
pandas==2.2.2
pillow==10.4.0
PySocks==1.7.1
python-barcode==0.15.1
python-dateutil==2.9.0.post0
python-Levenshtein==0.25.1
pytz==2024.2
rapidfuzz==3.9.7
requests==2.32.3
six==1.16.0
soupsieve==2.6
tqdm==4.66.5
tzdata==2024.1
urllib3==2.2.3
